<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="equipments"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="equipmentType === 'COMPUTER'">Novo computador</ion-title>
    <ion-title *ngIf="equipmentType === 'PRINTER'">Nova impressora</ion-title>
    <ion-title *ngIf="equipmentType === 'MONITOR'">Novo monitor</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-select [(ngModel)]="equipmentType"  ok-text="Ok" cancel-text="Cancelar">
          <ion-select-option *ngFor="let equipment of controller.equipmentTypes" [value]="equipment">
            <p *ngIf="equipment === 'COMPUTER'">Computador</p>
            <p *ngIf="equipment === 'PRINTER'">Impressora</p>
            <p *ngIf="equipment === 'MONITOR'">Monitor</p>
          </ion-select-option>
        </ion-select>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Número de patrimônio:</ion-label>
    <ion-input type="text" [(ngModel)]="formPatrimonyId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fabricante:</ion-label>
    <ion-input type="text" [(ngModel)]="formManufacturer"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Modelo:</ion-label>
    <ion-input type="text" [(ngModel)]="formModel"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Está funcionando?</ion-label>
    <ion-checkbox color="dark" [(ngModel)]="formItWorks"></ion-checkbox>
  </ion-item>

  <div *ngIf="equipmentType === 'COMPUTER'">
    <ion-item>
      <ion-label>Está no domínio?</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="formOnTheDomain"></ion-checkbox>    
    </ion-item>

    <ion-item>
      <ion-label>Possui leitor de CD/DVD?</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="formHasCdBurner"></ion-checkbox>    
    </ion-item>

    <ion-item>
      <ion-label>Endereço IP:</ion-label>
      <ion-input type="text" [(ngModel)]="formIpAddress"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome do computador:</ion-label>
      <ion-input type="text" [(ngModel)]="formHostName"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome da placa mãe:</ion-label>
      <ion-input type="text" [(ngModel)]="formMotherBoardName"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Modelo do gabinete:</ion-label>
      <ion-input type="text" [(ngModel)]="formCabinetModel"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Sistema operacional:</ion-label>
      <ion-select [(ngModel)]="formOperatingSystem"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let operatingSystem of controller.keys(controller.operatingSystems)" [value]="operatingSystem">{{controller.operatingSystems[operatingSystem]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Arquitetura do sistema operacional:</ion-label>
      <ion-select [(ngModel)]="formOperatingSystemArchitecture"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let operatingSystemArchitecture of controller.keys(controller.operatingSystemArchitectures)" [value]="operatingSystemArchitecture">{{controller.operatingSystemArchitectures[operatingSystemArchitecture]}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="availableMonitors">
      <ion-label>Associado ao monitor:</ion-label>
      <ion-select [(ngModel)]="formMonitorId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let monitor of availableMonitors" value={{monitor.id}}>{{ monitor.patrimonyId }}</ion-select-option>
      </ion-select>
    </ion-item>

    
    <ion-item>
      <ion-label>Associado ao processador:</ion-label>
      <ion-select [(ngModel)]="formProcessorId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let processor of availableProcessors" value={{processor.id}}>{{ processor.processorName }}</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <div *ngIf="equipmentType === 'PRINTER'">
    <ion-item>
      <ion-label>Endereço IP:</ion-label>
      <ion-input type="text" [(ngModel)]="formIpAddress"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome da impressora:</ion-label>
      <ion-input type="text" [(ngModel)]="formHostName"></ion-input>    
    </ion-item>
  </div>

  <!--
  <div *ngIf="equipmentType === 'MONITOR'">
    <ion-item *ngIf="availableComputers">
      <ion-label>Associado ao computador:</ion-label>
      <ion-select [(ngModel)]="formComputerId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let computer of controller.availableComputers" value={{computer.id}}>{{ computer.patrimonyId }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  -->

  <ion-item *ngIf="sectorController.sectors">
    <ion-label>Setor:</ion-label>
    <ion-select [(ngModel)]="formSectorId"  ok-text="Ok" cancel-text="Cancelar">
      <ion-select-option *ngFor="let sector of sectorController.sectors" value={{sector.id}}>{{ sector.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição:</ion-label>
    <ion-textarea [(ngModel)]="formDescription"></ion-textarea>
  </ion-item>  
</ion-content>

<ion-footer *ngIf="!editForm"> 
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="create()" expand="block" fill="clear" color="dark">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>    
</ion-footer>
