<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (keypress)="eventHandler($event.keyCode)">
  <form [formGroup]="form" novalidate>
    <ion-grid style="padding-top: 130px;">
      <ion-row>
        <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeXs="0"></ion-col>
        <ion-col sizeXl="8" sizeLg="8" sizeMd="8" sizeXs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                Recuperação de senha
              </ion-card-title>
    
              <ion-card-subtitle>
                Para recuperar sua senha, digite seu e-mail no campo abaixo, você receberá um e-mail contendo sua nova senha gerada. Por favor, após acessar ao sistema, altere sua senha.
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-item>
                <ion-label>Email:</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>

              <br>

              <ion-button (click)="forgotPassword()" expand="block" color="dark">Solicitar nova senha</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeXs="0"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
