<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="electronic-components"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="electronicComponentType === 'PROCESSOR'">Informações do processador</ion-title>
    <ion-title *ngIf="electronicComponentType === 'RAM_MEMORY'">Informações da memória RAM</ion-title>
    <ion-title *ngIf="electronicComponentType === 'STORAGE_DEVICE'">Informações do dispositivo de armazenamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setEditForm()">
        <ion-icon slot="icon-only" name="create"></ion-icon>          
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Fabricante:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="electronicComponent.manufacturer"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Modelo:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="electronicComponent.model"></ion-input>    
  </ion-item>

  <ion-item *ngIf="electronicComponentType === 'PROCESSOR'">
    <ion-label>Número do processador:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="electronicComponent.processorName"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Está funcionando?</ion-label>
    <ion-checkbox [disabled]="editForm" color="dark" [(ngModel)]="electronicComponent.itWorks"></ion-checkbox>
  </ion-item>

  <ion-item *ngIf="electronicComponentType === 'RAM_MEMORY' || electronicComponentType === 'STORAGE_DEVICE'">
    <ion-label>Tamanho:</ion-label>
    <ion-input [disabled]="editForm" type="number" [(ngModel)]="electronicComponent.sizeInGB"></ion-input>   
    <ion-note slot="end">GB</ion-note>
  </ion-item>

  <ion-item *ngIf="electronicComponentType === 'PROCESSOR'">
    <ion-label>Arquitetura:</ion-label>
    <ion-select [disabled]="editForm" [(ngModel)]="electronicComponent.architecture" ok-text="Ok" cancel-text="Cancelar">
      <ion-select-option *ngFor="let architecture of controller.keys(controller.processorArchitectures)" [value]="architecture">{{controller.processorArchitectures[architecture]}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item *ngIf="electronicComponentType === 'RAM_MEMORY'" >
    <ion-label>Arquitetura:</ion-label>
    <ion-select [disabled]="editForm" [(ngModel)]="electronicComponent.architecture" ok-text="Ok" cancel-text="Cancelar">
      <ion-select-option *ngFor="let architecture of controller.keys(controller.ramMemoryArchitectures)" [value]="architecture">{{controller.ramMemoryArchitectures[architecture]}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="electronicComponentType === 'STORAGE_DEVICE'" >
    <ion-label>Arquitetura:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="electronicComponent.architecture" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let architecture of controller.keys(controller.storageDeviceArchitectures)" [value]="architecture">{{controller.storageDeviceArchitectures[architecture]}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="electronicComponentType === 'STORAGE_DEVICE'" >
    <ion-label>Tipo de dispositivo:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="electronicComponent.type" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let storageDeviceType of controller.keys(controller.storageDeviceTypes)" [value]="storageDeviceType">{{controller.storageDeviceTypes[storageDeviceType]}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição:</ion-label>
    <ion-textarea [disabled]="editForm" [(ngModel)]="electronicComponent.description"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer *ngIf="!editForm"> 
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center">            
          <ion-button (click)="delete()" expand="block" fill="clear" color="dark">Excluir</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button (click)="update()" expand="block" fill="clear" color="dark">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>    
</ion-footer>
