<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu  *ngIf="user" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Sistema de catalogagem de computadores</ion-list-header>
          <ion-note>{{user.email}}</ion-note>
        </ion-list>
        
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" size="large" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>Usuário do sistema</ion-list-header>

            <ion-item-sliding>  
              <ion-item lines="none">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>
                  <h3>{{user.name}} <a *ngIf="user.hasAdminProfile" style="color: black;">(Administrador)</a></h3> 
                  <p>Arraste para mais ações</p>
                </ion-label>
              </ion-item>
              

              <ion-menu-toggle auto-hide="false">
                <ion-item-options side="end">
                  <ion-item-option [routerLink]="['/user']" color="dark">Gerenciar</ion-item-option>
                  <ion-item-option (click)="authenticationControllerService.logout()" color="danger">Sair</ion-item-option>
                </ion-item-options>
              </ion-menu-toggle>
              
            </ion-item-sliding>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


