<ion-header *ngIf="filledValues">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="equipments"></ion-back-button>
    </ion-buttons>
    <ion-title>Novo usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="filledValues" (keypress)="eventHandler($event.keyCode)">
  <form [formGroup]="form" novalidate>
    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" formControlName="name" ></ion-input>    
    </ion-item>
    
    <ion-item>
      <ion-label>Sobrenome:</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>    
    </ion-item>

    <ion-item *ngIf="sectorController.sectors">
      <ion-label>Setor:</ion-label>
      <ion-select  ok-text="Ok" cancel-text="Cancelar" formControlName="sectorId">
        <ion-select-option *ngFor="let sector of sectorController.sectors" value={{sector.id}}>{{ sector.name }}</ion-select-option>
      </ion-select>
    </ion-item>  
  </form>
</ion-content>

<ion-footer *ngIf="filledValues"> 
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="create()" expand="block" fill="clear" color="dark">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>    
</ion-footer>