ion-content {
    //--ion-background-color: #F6F6F6;
}

ion-card {
    --ion-background-color: white;
}
ion-grid.appTitle {
    padding: 2%; 
    padding-top: 80px; 
    padding-bottom: 80px;
}

ion-card-content {
    padding-top: 40px; 
    padding-bottom: 40px;
}