<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="equipments"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="equipmentType === 'Computador'">Informações do computador</ion-title>
    <ion-title *ngIf="equipmentType === 'Impressora'">Informações da impressora</ion-title>
    <ion-title *ngIf="equipmentType === 'Monitor'">Informações do monitor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setEditForm()">
        <ion-icon slot="icon-only" name="create"></ion-icon>          
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Número de patrimônio:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="formPatrimonyId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Fabricante:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="formManufacturer"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Modelo:</ion-label>
    <ion-input [disabled]="editForm" type="text" [(ngModel)]="formModel"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Está funcionando?</ion-label>
    <ion-checkbox [disabled]="editForm" color="dark" [(ngModel)]="formItWorks"></ion-checkbox>
  </ion-item>

  <div *ngIf="equipmentType === 'Computador'" >
    <ion-item>
      <ion-label>Está no domínio?</ion-label>
      <ion-checkbox [disabled]="editForm" color="dark" [(ngModel)]="formOnTheDomain"></ion-checkbox>    
    </ion-item>

    <ion-item>
      <ion-label>Possui leitor de CD/DVD?</ion-label>
      <ion-checkbox [disabled]="editForm" color="dark" [(ngModel)]="formHasCdBurner"></ion-checkbox>    
    </ion-item>

    <ion-item>
      <ion-label>Endereço IP:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formIpAddress"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome do computador:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formHostName"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome da placa mãe:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formMotherBoardName"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Modelo do gabinete:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formCabinetModel"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Sistema operacional:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="formOperatingSystem"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="NONE">Nenhum</ion-select-option>
        <ion-select-option value="WINDOWS_XP">Windows XP</ion-select-option>
        <ion-select-option value="WINDOWS_VISTA">Windows Vista</ion-select-option>
        <ion-select-option value="WINDOWS_7">Windows 7</ion-select-option>
        <ion-select-option value="WINDOWS_10">Windows 10</ion-select-option>
        <ion-select-option value="LINUX_DISTRO">Distribuição linux</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Arquitetura do sistema operacional:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="formOperatingSystemArchitecture"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="NONE">Nenhum</ion-select-option>
        <ion-select-option value="AMD64">64 bits</ion-select-option>
        <ion-select-option value="I386">32 bits</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="availableMonitors">
      <ion-label>Associado ao monitor:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="formMonitorId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let monitor of availableMonitors" [value]="monitor.id">{{ monitor.patrimonyId }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="availableProcessors">
      <ion-label>Associado ao processador:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="formProcessorId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let processor of availableProcessors" [value]="processor.id">{{ processor.processorName }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div *ngIf="equipmentType === 'Impressora'">
    <ion-item>
      <ion-label>Endereço IP:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formIpAddress"></ion-input>    
    </ion-item>

    <ion-item>
      <ion-label>Nome da impressora:</ion-label>
      <ion-input [disabled]="editForm" type="text" [(ngModel)]="formHostName"></ion-input>    
    </ion-item>
  </div>

  <!--
  <div *ngIf="equipmentType === 'Monitor'">
    <ion-item>
      <ion-label>Associado ao computador:</ion-label>
      <ion-select [disabled]="editForm" [(ngModel)]="formComputerId"  ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="">Nenhum</ion-select-option>
        <ion-select-option *ngFor="let computer of controller.availableComputers" value={{computer.id}}>{{ computer.patrimonyId }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  -->

  <ion-item *ngIf="controller.sectors">
    <ion-label>Setor:</ion-label>
    <ion-select [disabled]="editForm" [(ngModel)]="formSectorId"  ok-text="Ok" cancel-text="Cancelar">
      <ion-select-option *ngFor="let sector of controller.sectors" [value]="sector.id" >{{ sector.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição:</ion-label>
    <ion-textarea [disabled]="editForm" [(ngModel)]="formDescription"></ion-textarea>
  </ion-item>
</ion-content>
<ion-footer *ngIf="!editForm"> 
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-center">            
          <ion-button (click)="delete()" expand="block" fill="clear" color="dark">Excluir</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button (click)="update()" expand="block" fill="clear" color="dark">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>    
</ion-footer>