<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
        <ion-select class="title" [(ngModel)]="electronicComponentType" ok-text="Ok" cancel-text="Cancelar">
          <ion-select-option *ngFor="let electronicComponent of electronicComponentTypes">{{ electronicComponent }}</ion-select-option>
        </ion-select>
      </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="search"></ion-icon>          
      </ion-button>
      <ion-button [routerLink]="['/equipments/electronic-components/new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="electronicComponentType === 'Processadores'">
    <ion-item *ngFor="let processor of controller.processors" routerLink="/equipments/electronic-components/info/{{processor.id}}">
      <ion-icon slot="start" size="large" name="hardware-chip"></ion-icon>
      <ion-label>
        <h2>{{ processor.manufacturer }} {{ processor.model }}</h2>
        <h3>{{ processor.processorName }}</h3>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="electronicComponentType === 'Memórias RAM'">
    <ion-item *ngFor="let ramMemory of controller.ramMemories" routerLink="/equipments/electronic-components/info/{{ramMemory.id}}">
      <ion-icon slot="start" size="large" name="ram-memory"></ion-icon>
      <ion-label>
        <h2>{{ ramMemory.manufacturer }} | {{ ramMemory.model }}</h2>
        <h3>{{ ramMemory.architecture }}</h3>
        <p>{{ ramMemory.sizeInGB }} GB</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="electronicComponentType === 'Dispositivos de armazenamento'">
    <ion-item *ngFor="let storageDevice of controller.storageDevices" routerLink="/equipments/electronic-components/info/{{storageDevice.id}}">
      <ion-icon slot="start" size="large" name="server"></ion-icon>
      <ion-label>
        <h2>{{ storageDevice.manufacturer }} | {{ storageDevice.model }}</h2>
        <h3>{{ storageDevice.type }} ({{ storageDevice.architecture }})</h3>
        <p>{{ storageDevice.sizeInGB }} GB</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!controller.processors">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
          <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
          <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
