<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-select [(ngModel)]="equipmentType" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let equipment of equipmentTypes">{{ equipment }}</ion-select-option>
      </ion-select>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="search"></ion-icon>          
      </ion-button>
      <ion-button [routerLink]="['/equipments/new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="equipmentType === 'Computadores'">
    <ion-item *ngFor="let computer of computers" routerLink="/equipments/info/{{computer.id}}">
      <ion-icon slot="start" name="desktop"></ion-icon>
      <ion-label>
        <h2>{{ computer.patrimonyId }}</h2>
        <h3>{{ computer.manufacturer }}</h3>
        <p>{{ computer.model }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="equipmentType === 'Impressoras'">
    <ion-item *ngFor="let printer of printers" routerLink="/equipments/info/{{printer.id}}">
      <ion-icon slot="start" name="desktop"></ion-icon>
      <ion-label>
        <h2>{{ printer.patrimonyId }}</h2>
        <h3>{{ printer.manufacturer }}</h3>
        <p>{{ printer.model }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="equipmentType === 'Monitores'">
    <ion-item *ngFor="let monitor of monitors" routerLink="/equipments/info/{{monitor.id}}">
      <ion-icon slot="start" name="desktop"></ion-icon>
      <ion-label>
        <h2>{{ monitor.patrimonyId }}</h2>
        <h3>{{ monitor.manufacturer }}</h3>
        <p>{{ monitor.model }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
