<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-select class="title" [(ngModel)]="controller.equipmentType" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option *ngFor="let equipment of equipmentTypes">{{ equipment }}</ion-select-option>
      </ion-select>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="controller.searchModalPresent()">
        <ion-icon slot="icon-only" name="search"></ion-icon>          
      </ion-button>
      <ion-button [routerLink]="['/equipments/new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="controller.equipmentType === 'Computadores'">
    <ion-item *ngFor="let computer of controller.computers" routerLink="/equipments/info/{{computer.id}}">
      <ion-icon slot="start" name="laptop"></ion-icon>
      <ion-label>
        <h2>{{ computer.patrimonyId }}</h2>
        <h3>{{ computer.manufacturer }} <a *ngIf="computer.manufacturer && computer.model">|</a> {{ computer.model }}</h3>
        <p>{{ computer.ipAddress }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="controller.equipmentType === 'Impressoras'">
    <ion-item *ngFor="let printer of controller.printers" routerLink="/equipments/info/{{printer.id}}">
      <ion-icon slot="start" name="print"></ion-icon>
      <ion-label>
        <h2>{{ printer.patrimonyId }}</h2>
        <h3>{{ printer.manufacturer }} <a *ngIf="printer.manufacturer && printer.model">|</a> {{ printer.model }}</h3>
        <p>{{ printer.ipAddress }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="controller.equipmentType === 'Monitores'">
    <ion-item *ngFor="let monitor of controller.monitors" routerLink="/equipments/info/{{monitor.id}}">
      <ion-icon slot="start" name="desktop"></ion-icon>
      <ion-label>
        <h2>{{ monitor.patrimonyId }}</h2>
        <h3>{{ monitor.manufacturer }} | {{ monitor.model }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Skeleton screen -->
  <div *ngIf="!controller.computers">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
          <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
          <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
