<ion-header *ngIf="user">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gerenciar conta de usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <ion-item lines="none">
    <ion-icon slot="start" name="person"></ion-icon>
    <ion-label>
      <h3>{{user.name}} <a *ngIf="user.hasAdminProfile">(Administrador)</a></h3> 
      <p>
        <a [routerLink]="['/user/info']">Alterar informações</a>
      </p>
    </ion-label>
  </ion-item>
</ion-content>
