<ion-header>
  <ion-toolbar>
    <ion-icon name="laptop" slot="start" [ios]="laptop + '-outline'" [md]="laptop + '-sharp'"></ion-icon>
    <ion-title>Computadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>{{ item.patrimonyId }}</ion-label>
      <ion-label>{{ item.manufacturer }} </ion-label>
      <ion-label>{{ item.totalRamMemory }}</ion-label>
      <ion-label>{{ item.totalStorageMemory }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
